/**************************
* General Code
**************************/
.absolute-center{
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
a:link {
    color: #fff;
	text-decoration: none;
}
/* visited link */
a:visited {
    color: #fff;
	text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #fff;
	text-decoration: none;
}
#gallery .container-fluid{
	margin: 0 10%;
}
/**************************
* Header Styles 
**************************/
.masthead {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    z-index: 99999;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
    box-shadow: none;
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
}
#NavigationList{
	margin-left: 25px;
}
.navbar-nav>li>a {
    box-shadow: none;
    color: #ffffff !important;
    font-size: 1.7em;
    margin: 17px 19px;
    font-weight: bold;
}
.navbar-nav>li>a:hover {
    font-size: 2em;
}
@media all and (min-width: 700px){
	.navbar-nav>li>a {
		font-size: 1.9em;
	}
	.navbar-nav>li>a:hover{
		font-size: 2.2em;
	}
}
.mobBtn{
    margin: 15px 19px;
	border: none;
	font-size: 2.1em;
	color: red;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: rgba(0,0,0,0);
}
@media all and (max-width:721px){
	nav ul li{
		width: 100%;
	}
}
.navbar-text{
    margin: 20px 10px;
	color: #fff!important;
	font-size: 35px;
	font-family: 'Baloo', cursive;
}
/**************************
* Introduction Page Styles
**************************/
.parallax-container {
	height: 900px;
	width:100%;
	background-size: 100% auto;
}
#logo{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 7.5%;
}
#logo img{
	height: 240px;
    border-radius: 25px;
}
#logoExpand{
	position: absolute;
	top: 0;
	left: 215px;
	width: 0;
	overflow: hidden;
}
#logoExpand img{
    border-radius: 0 25px 25px 0;
}
@media all and (max-width: 1100px){
	#logo{
		left: 5%;
	}
	#logo img{
		height: 190px;
	}
	#logoExpand{
		left: 175px;
	}
}
@media all and (max-width: 835px){
	#logo{
		left: 3.5%;
	}
	#logo img{
		height: 165px;
	}
	#logoExpand{
		left: 140px;
	}
}
@media all and (max-width: 700px){
	#logo{
		left: 2.7%;
	}
	#logo img{
		height: 145px;
	}
	#logoExpand{
		left: 120px;
	}
}
@media all and (max-width: 600px){
	#logo{
	text-align: center;
	left: 0;
	}
	#logo img{
		height: 240px;
	}
	#logoExpand{
		display: none;
	}
}
/**************************
* About Page Styles
**************************/
/*********** About Title ***********/
#about{
	background-color:#fdfcf9;
	height: 2900px!important;
	box-shadow: inset 0px 1px 3px 4px #000;
}
@media all and (max-width:1150px){
	#about{
		height: 2800px!important;
	}
}
@media all and (max-width:768px){
	#about{
		height: 2600px!important;
	}
}
@media all and (max-width:622px){
	#about{
		height: 3360px!important;
	}
}
@media all and (min-width:395px) and (max-width:400px){
	#about{
		height: 2000px!important;
	}
}
@media all and (width:395px){
	#about{
		height: 2900px!important;
	}
}
@media all and (max-width:394px){
	#about{
		height: 2950px!important;
	}
}
@media all and (max-width:499px){
	#aboutTitle{
	margin: 10%!important;
	font-size: 22px!important;		
	}
}
@media all and (min-width:500px) and (max-width:660px){
	#aboutTitle{
	margin: 10%!important;
	font-size: 30px!important;		
	}
}
#aboutTitle{
	margin: 10%;
	font-family: lobster, cursive;
	font-size: 40px;
	text-align: center;
}
/*********** About Box Common Styles ***********/
.aboutCommon{
	position: relative;
	top: 0px;
	width: 100%;
	font-family: 'Lobster Two', cursive;
}
.aboutCommon img{
	border-radius: 2px;
	overflow: hidden;
}
.aboutCommonDescription{
	color: #000;
	margin: 10px;
	border-left: 2px solid;
	text-align: left;
	font-size: 20px;
	width: 265px;
	padding-left: 3px;
}
.aboutCommonDescription p{
	opacity: 0.8;
	padding-left: 5px;
	font-size: 16px;
	left: 0;
}
/*********** Event Coverage Styles ***********/
#eventCoveragePics{
	position: relative;
	top:0;
	left:0;
	width: 325px;
	height: 450px;
	overflow: hidden;
}
@media all and (max-width: 625px){
	#eventCoveragePics{
		left:0;
		right:0;
		margin: auto;
	}
}
@media all and (max-width: 350px){
	#eventCoveragePics{
		left:-20px;
		right:0;
		margin: auto;
	}
}
#eventCoveragePics img{
	width: 325px;
}
#pic1{
	max-width: 325px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
#pic2{
	max-width: 325px;
	position: absolute;
	top:0;
	left:0;
}
#pic3{
	max-width: 325px;
	position: absolute;
	top:0;
	left:0;
}
#pic4{
	max-width: 325px;
	position: absolute;
	top:0;
	left:0;
}
/*********** Event Competition Styles ***********/
#eventCompetition{
	position: relative;
	width: 100%;
}
#pic5{
	width: 100%;
	position: absolute;
    top: -200px;
}
#pic5 img{
	width: 100%;
	min-width: 325px;
}
#eventCompetitionDescription{
    position: absolute;
	right: 0;
	top: -95px;
	border-left: 0;
	border-right: 2px solid;
	text-align: right;
	padding-right: 3px;
}
@media all and (max-width: 340px){
	#pic5 img{
	position: absolute;
	left: -20px;
	}
}
@media all and (min-width: 341px) and (max-width: 370px){
	#pic5 img{
	position: absolute;
	left: -10px;
	}
}
@media all and (max-width: 625px){
	#eventCompetition{
		left: 0;
		transform: none;
	}
	#pic5{
		width: 100%;
		right: 0;
		left: 0;
		margin: auto;
		top: 0;
	}
	#eventCompetitionDescription{
		position: absolute;
		right: 0;
		border-left: 0;
		border-right: 2px solid;
		text-align: right;
		padding-right: 3px;
		margin: 0;
	}
}
#eventCompetitionDescription p{	padding-right: 5px;}

/*********** PhotoWalk Section ***********/
#photowalk{
}
#photowalk img{
	width: 100%;
}
@media all and (max-width: 625px){
	#photowalkPic1{
		display: none;
	}
	#photowalkPic3{
		display: none;
	}
	#photowalkPic2{
		position: absolute;
		right: 0;
		left: 0;
		margin: auto!important;
		height: 420px!important;
		width: 325px;
	}
	#photowalkDescription{
		position: absolute!important;
	}
}
#photowalkPic1{
	margin: 10px 0px 10px 0px;
    -ms-transform: matrix(-1, 0.07, 0, 1, 15, 10) /* IE 9 */
    -webkit-transform: matrix(-1, 0.07, 0, 1, 15, 10); /* Safari */
    transform: matrix(-1, -0.07, 0, 1, 15, -10); /* Standard syntax */
}
#photowalkPic1 img{
	box-shadow: 10px 3px 10px #888888;
}
#photowalkPic2{
	overflow: hidden;
	margin: 10px 0px 10px 0px;
}
#photowalkPic3{
	overflow: hidden;
	margin: 10px 0px 10px 0px;
    -ms-transform: matrix(-1, 0.07, 0, 1, 15, 10) /* IE 9 */
    -webkit-transform: matrix(-1, 0.07, 0, 1, 15, 10); /* Safari */
    transform: matrix(1, 0.07, 0, 1, -15, 10); /* Standard syntax */
}
#photowalkPic3 img{
	box-shadow: 2px -1px 5px #888888;
}
@media all and (min-width: 626px){
	#photowalkDescription{
		width: 100%;
		border: 0;
		padding: 0;
		text-align: center;
		font-size: 26px;
	}
	#photowalkDescription p{
		font-size: 20px;	
	}	
}
@media all and (max-width: 395px){
	#photowalkPic2 img{
		width: 230px;
	}
}
/*********** Workshop Section ***********/
#workshops{
	position: relative;
}
#workshopsPic1{
	position: absolute;
	top:0;
	right: 0;
	left: -300px;
	margin: auto;
	transform: skew(5deg,5deg);
	margin-top: 50px;
}
#workshopsPic2{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-30%) skew(-5deg,-5deg);
	opacity: 0.9;
}
#workshopsPic1 img{
	width: 325px;
}
#workshopsPic2 img{
	height: 250px;
}
@media all and (max-width: 775px){
	#workshopsPic1{
		left: -230px;
	}
	#workshopsPic1 img{
		width: 275px;
	}
	#workshopsPic2 img{
		height: 200px;
	}	
}
@media all and (max-width: 625px){
	#workshops{
		text-align: center;	
	}
	#workshopsPic1{
		position: relative;
		display: inline-block;
		left: 25px;
	}
	#workshopsPic2{
		display: none;
	}
	#workshopsPic1 img{
		width: 325px;
	}
}
@media all and (max-width: 395px){
	#workshopsPic1 img{
		width: 230px;
	}
}
/*********** Competition Styles ***********/
#internalCmpt{
	position: relative;
	margin-top: 650px;
	transform: rotate(-2deg);
}
@media all and (max-width: 400px){
	#internalCmpt{
		position: relative;
		margin-top: 650px;
		transform: rotate(-2deg);
		left: -35px;
	}
}
#internalCmpt img{
	width: 325px;
}
#redBorder{
	position: absolute;
	top: 10px;
	left: 40px;
	width: 270px;
	height: 400px;
	border: 2px solid red;
	transform: rotate(2deg);
}
@media all and (max-width: 775px){
	#internalCmpt{
		margin-top: 550px;
	}	
}
#detectTopLeft{
	position: absolute;
	top: 0;
	left: 10px;
	height: 210px;
	width: 108px;
	z-index: 5;
}
#detectTopCenter{
	position: absolute;
	top: 0;
	left: 118px;
	height: 210px;
	width: 108px;
	z-index: 5;
}
#detectTopRight{
	position: absolute;
	top: 0;
	left: 226px;
	height: 210px;
	width: 108px;
	z-index: 5;
}
#detectBottomLeft{
	position: absolute;
	top: 210px;
	left: 10px;
	height: 210px;
	width: 108px;
	z-index: 5;
}
#detectBottomCenter{
	position: absolute;
	top: 210px;
	left: 118px;
	height: 210px;
	width: 108px;
	z-index: 5;
}
#detectBottomRight{
	position: absolute;
	top:210px;
	left: 226px;
	height: 210px;
	width: 108px;
	z-index: 5;
}
/*********** Contact Us Styles ***********/
#contactUs{
	position: relative;
	margin-top: 650px;
	text-align: center;
	height: 320px;
}
@media all and (max-width: 775px){
	#contactUs{
		margin-top: 550px;
	}	
}
.contactButtons{
	font-size: 24px;
	text-transform: capitalize;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	border-left: 5px solid;
}
.contactButtons i{
	border-right: 2px solid;
	margin-right: 20px;
	font-size: 28px;
	margin-left: -10px;
	width: 40px;
	margin-left: -15px;
	padding-right: 43px;
}
@media all and (max-width: 850px){
	.smallFont{
		font-size: 17px!important;
	}	
}
@media all and (min-width: 622px) and (max-width: 700px){
	.contactButtons{
		font-size: 20px;
	}
	.contactButtons i{
		font-size: 24px;
		margin-right: 10px;
	}
	.smallFont{
		font-size: 14px!important;
	}
}
/**************************
* Gallery Page Styles
**************************/
#gallery{height: auto!important;}
.galleryHeader{
	text-align: center;
	font-size: 50px;
	margin-bottom: 25px;
	margin-top: 25px;
	color: #fff;
	font: weight: 600;
	width: 100%;
	border-bottom: 10px solid;
	border-image:   linear-gradient(to right,green 20px, yellow 20px, yellow 40px, red 40px, red 60px, teal 60px, teal 80px) 5;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
}
#albumHeader{
	border-image:   linear-gradient(to left,green 20px, yellow 20px, yellow 40px, red 40px, red 60px, teal 60px, teal 80px) 5;
}
/** Picture Box**/
.picsBox{
	background:#F2F1EF;
	box-sizing:border-box;
	color:#000;
	height: 200px;
	box-shadow: 0px 0px 5px #000;
}
.picsText{
	height: 40px;
	color: #000;
	width: 100%;
	line-height: 40px;
	overflow: hidden;
	padding-left: 2px;
	font-family: 'Bree Serif', serif;
	font-size: 15px;
}
.coverpics{
	overflow-x:hidden;
	overflow-y:hidden;
}
.coverpics img{
	width: 215px;
	height: 160px;
}
#facebookCollection{
	margin-bottom: 30px;
}
/**************************
* Testing Page Styles
**************************/
#panic1{
	background-color:#234a21;
	height: 1000px;
}
#panic2{
	background-color:#132127;
	height: 1000px;
}